{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
	<div class="col-lg-10 col-md-9 p-4">
		{% if entries  %}<h1>Possible matches for {{ term }}: </h1>
			<ul> 
				{% for entry in entries %}
							<li><a href=" {% url 'wiki:item' entry %}">{{ entry }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<h3>Sorry.</h3>
			<p>Your search did not match any entry. Please make sure that all words are spelled correctly.<br>
			Additionally, you can <a href="{% url 'wiki:newpage' %}">create a new page</a>.</p>
		{% endif %}	
	</div> 
{% endblock %}
